OPENAI_API_KEY = "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"              # API Key copied from the OpenAI portal
MONGODB_URI = "mongodb+srv://vercel-admin-user:46pjBLXFCsN3Yxqa@cluster0.um6h7.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"                # Connection URI to MongoDB Instance
